@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;

}

h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 44px;

}

body {
    background-image: url(bg-intro-desktop.png);

    background-color: hsl(0, 100%, 74%);
    font-family: 'Poppins', sans-serif;
    position: relative;
    width: 95vw;
    height: 100vh;

}

p {
    font-weight: 400;
    font-size: 14px;
}

#whole {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    position: absolute;
}

#content {
    width: 450px;
    color: #FFFFFF;
    margin-left: 0%;

}

#right {

    width: 40%;
    display: flexbox;


}

#form {
    background-color: #FFFFFF;
    padding: 7%;
    border-radius: 10px;
    box-shadow: 0px 5px 3px rgba(74, 74, 74, 0.4);
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 5% 7%;
    margin: 10px 0;
    box-sizing: border-box;
    border-color: hsl(246, 25%, 77%);
    border-width: 1.5px;
    border-radius: 5px;
    height: 16px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    -webkit-transition: 0.5s;
    transition: 0.0005s;

}



input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
    outline-color: hsl(248, 32%, 49%);
}

input[type="submit"] {
    width: 100%;
    background-color: hsl(154, 59%, 51%);
    color: #FFFFFF;
    padding: 3%;
    border-radius: 5px;
    border-color: hsl(154, 59%, 51%);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

input[type="submit"]:hover {
    cursor: pointer;
    background-color: hsla(154, 66%, 37%, 0.84);
}

input:valid {
    border-color: hsl(154, 59%, 51%);
    border-width: 2px;
}

input:invalid {
    border-color: hsl(0, 100%, 74%);
    border-width: 1.5px;


}



#trialbox {
    color: hsl(246, 25%, 77%);
    background-color: hsl(248, 32%, 49%);
    padding: 1%;
    box-shadow: 0px 5px 3px rgba(74, 74, 74, 0.4);
    border-radius: 10px;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
    margin: 10px 0;
}

.singleline {
    text-align: center;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

}

#icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

img {
    width: 25px;



}

@media (max-width: 800px) {


    #whole {
        flex-direction: column;

    }

    #content {
        margin-top: 10%;
        text-align: center;
        width: 300px;
    }

    h1 {
        font-size: 30px;
    }

    #right {

        width: 300px;

    }
}